<% unless @exported_resources.empty? %>
    <div class="contextual">
      <% if @node.editable_by?(User.current) -%>
        <%= link_to "Delete exported resources", {:controller => 'node', :action => 'destroy_exported_resources', :id => @node}, :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %>
      <% end -%>
    </div>
    <h3>Exported resources</h3>
    <table class="list">
      <tr align="left">
        <th>Resource</th>
        <th>Tags</th>
      </tr>
      <% @exported_resources.each do |name, value| %>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= link_to name, :controller=>'node', :action=>'resource', :id=>name %></td>
          <td><%= value %></td>
        </tr>
      <% end %>
    </table>
<% end -%>
