<h3>Puppet "external_nodes" YAML</h3>
<table class="list" style="table-layout: fixed;">
  <tr>
    <td>
      <div class="wiki">
        <pre style="margin: 0; border:0; padding:0;"><%= @external_nodes_yaml %></pre>
      </div>
    </td>
  </tr>
</table>
