<% if @external_nodes_yaml -%>
<h3>Puppet "external_nodes" YAML</h3>
<table class="list" style="table-layout: fixed;">
  <tr>
    <td class="name">
      <div class="wiki">
        <pre style="margin: 0; border:0; padding:0;"><%= @external_nodes_yaml %></pre>
      </div>
    </td>
  </tr>
</table>

<% else -%>
  <a href="?external_nodes=true&tab=external_nodes">Click to load</a>
<% end -%>
