<tr class="<%= cycle('odd', 'even') %> issue">
<td class="subject">
  <%= link_to templ.name, :controller => 'klass', :action => 'list', :id => templ %>
</td>
<td class="subject">
  <%=
    begin
      templ.klasses.sort.collect { |k|
        link_to(k.name, :controller=>k.controller, :action=>'configure', :id=>k.id)
      }.join(", ")
    rescue ActiveRecord::SubclassNotFound => e
      link_to("SubclassNotFound", :controller=>'klass', :action=>'list', :id=>templ.id)
    end
  -%>
</td>
</tr>
