<table>
  <tr>
    <th>service</th>
    <th>service id</th>
    <th>host</th>
  </tr>
  <% @services.each do |service|%>
  <tr class="<%= cycle('odd', 'even') %>">
    <td><%= service["service"]%></td>
    <td><%= service["service_id"]%></td>
    <td><%= service["host"]%></td>
  </tr>
  <% end %>
</table>
