<h2>Configure a new node</h2>

<div class="form">

  <fieldset>
    <% form_for :node_instance, :url => { :id => @project }  do |form| %>
      <p><%=form.error_messages%></p>
      <p>
      <label for="name"><%="Name"%> (hostname):</label>
      <%= form.text_field(:name, :size => 40) %>
      </p>

      <%= submit_tag("New node", :class => "submit") %>

    <% end %>
  </fieldset>
</div>

