<div class="contextual">
<%= link_to l(:button_back), {:controller => 'node', :action => 'report', :id => @node.report}, :class => 'icon icon-back' %>
</div>

<h2><%=@node.fqdn%></h2>
<h3>Reports</h2>

<ul>
<% @node.reports.sort.reverse.each do |report| %>
  <li>
  <%= link_to_report(report) %>
  </li>
<% end -%>
</ul>
