<% begin -%>
  <%
    if @node.fact("lsbdistcodename") == "n/a"
      if @node.fact("lsbdistrelease") =~ /^5/
        partial="debian_lenny"
      elsif @node.fact("lsbdistrelease") =~ /^6/
        partial="debian_squeeze"
      end
    else
      partial="debian_#{@node.fact("lsbdistcodename").downcase}"
    end
   -%>
  <%= render :partial => partial, :locals=>{:f=>f} %>
<% rescue NoMethodError -%>
  <h4>Missing fact "lsbdistcodename"</h4>
<% rescue ActionView::MissingTemplate => e -%>
  No specific template for <%=@node.fact("lsbdistcodename")%><br /><br />
  <%= e.message %>
<% end -%>
