<%= form.hidden_field :ssh_station_id %>
<table>
  <tr>
    <td>Name:</td><td><%= form.text_field :name %></td>
  </tr>
  <tr>
    <td>Service host:</td><td><%= form.text_field :host %></td>
  </tr>
  <tr>
    <td>Service port:</td><td><%= form.text_field :service %></td>
  </tr>
</table>

