<%= error_messages_for 'conf_value' %>

<!--[form:conf_value]-->
<p><label for="conf_value_value">Value</label><br/>

<textarea cols="40" id="conf_value_value" name="conf_value[value]" rows="10"><%= @conf_value.get_value %></textarea>

</p>
<!--[eoform:conf_value]-->

