<h2><%="Editing"%> <%=@custom_klass.name%> <%="for node"%> <%=@node.name%></h2>

<p><%= "Needed attributes for this class:" %></p>

<% form_for :custom_klass, @custom_klass, :url => ({ :action=>'configure', :id=>@custom_klass }) do |f| %>

  <%= render :partial => f %>

  <%=submit_tag 'Save'%>

<% end %>

<%= link_to 'Back', :back -%>
