.icon-back { background-image: url(/images/cancel.png); }

.report_err { color: #CC0000; }

.report_warn { color: #CC9900; }

.disabled { background-color: #D0D0D0; }

#sidebar ul {
  padding-left: 15px;
}

ul.klasses {
  list-style-type: none;
}

ul.klasses li {
  background-color: #E4E4E4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  float: left;
  margin: 5px;
  padding: 2px 5px;
  width: 200px;
  min-height: 20px;
}

