<%= klass_menu "New custom klass"%>

<% form_for :custom_klass, @custom_klass, :url => {:action => 'create'} do |f| %>

  <%= render :partial => f %>
  <%= submit_tag "Create" %>

<% end %>

<%= link_to 'Back', :back %>
