<p><label>Puppetmaster IP</label><%= text_field_tag 'settings[puppetmaster_ip]', @settings['puppetmaster_ip'] %>
(Only this IP will be allowed to call node/get_host_definition)</p>

<p><label>Autosign file location</label><%= text_field_tag 'settings[autosign]', @settings['autosign'] %></p>

<p><label>puppetca executable location</label><%= text_field_tag 'settings[puppetca]', @settings['puppetca'] %></p>

<p><label>Slicehost API Password</label><%= text_field_tag 'settings[slicehost_api_password]', @settings['slicehost_api_password'] %></p>
