<h1><%= "Manage" %></h1>

<%= link_to "Unassigned nodes", :action => 'unassigned_nodes' %><br />
<%= link_to "Scan for new Puppet hosts", :action => 'scan_puppet_hosts' %> <br/>
<%= link_to "Scan for new Puppet classes",  "#" %> <br/>
