<h1><%= "Manage" %></h1>

<%= link_to "View all nodes", :controller => 'node', :action => 'list' %><br />
<%= link_to "Classes", :controller => 'klass_names' %><br />
<%= link_to "Attributes", :controller => 'conf_names' %><br />
<%= link_to "Unassigned nodes", :action => 'unassigned_nodes' %><br />
<%= link_to "Scan for new Puppet hosts", :action => 'scan_puppet_hosts' %> <br/>
<%= link_to "Scan for new Puppet classes",  "#" %> <br/>
