<% for column in Initr::KlassName.content_columns %>
<p>
  <b><%= (column.human_name) %>:</b> <%=h @klass_name.send(column.name) %>
</p>
<% end %>
<h3><%="Attributes needed by the class:"%></h3>
<ul>
  <% @conf_names.each do |pa| %>
    <li><%=pa.name%></li>
  <% end %>
</ul>


<%= link_to 'Edit', :action => 'edit', :id => @klass_name %> |
<%= link_to 'Back', :action => 'list' %>
