<%= error_messages_for 'conf_name' %>

<!--[form:conf_name]-->
<p>
<label for="conf_name_name"><%="Name"%></label><br/>
<%= text_field 'conf_name', 'name'  %></p>

<p><label for="conf_name_help"><%="Help"%></label><br/>
<%= text_field 'conf_name', 'help'  %></p>
<!--[eoform:conf_name]-->

