<% for column in Initr::ConfName.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @conf_name.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @conf_name %> |
<%= link_to 'Back', :action => 'list' %>
